.introScene 
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    display flex
    flex-direction: column
    justify-content center
    align-items center

    background-color rgba(5,12,47,0)
    color var(--grey)

    display none
    transition: all 300ms ease-out

.introScene__content 
    z-index 2
    display: flex
    align-items center
    max-width 1200px

.introScene__title
    font-family: var(--serpiente)
    font-size 3.5em
    line-height 1.1em
    text-align right
    margin 0

.introScene__title .char
    opacity 0
    transform: translate3D(0,50%,0)

.introScene__text
    max-width 700px
    margin-left 80px
    margin-top 10px
    margin-bottom 0

.introScene__text .word
    opacity 0
    transform translate3D(0, 10px, 0)

.introScene__link
    margin-top 100px
    opacity 0
    transform translate3D(0, 100px, 0)

.introScene__number
    position absolute
    top 37%
    left 50%
    transform translate3D(-50%, -50%, 0)

    font-family: var(--serpiente)
    font-size 30vw
    margin 0
    opacity .2

    overflow: hidden
    clip-path: inset(0 0 20% 0);

.introScene__number .char
    transform translate3D(0, 100%, 0)

#endScene0,
#endScene1
    display none
    var(--grey)

.endScene__step
    position absolute
    top 25%
    left 50%
    transform translateX(-50%)

    max-width 800px
    text-align center
    font-size 1.5em

.endScene__step .word
    opacity: 0
    transform: translateY(10px)