#endScene1,
#endScene2
    display none

.endScene__step
    position absolute
    top 5%
    left 50%
    transform translateX(-50%)

    max-width 800px
    text-align center
    font-size 1.5em

.endScene__step .word
    opacity: 0
    transform: translateY(10px)