.globalContent__logo 
    position fixed
    z-index 999
    top 40px
    left 50px
    width 105px

.globalContent__lang
    position fixed
    z-index 999
    top 45px
    right 50px
    margin 0

    font-weight 800
    letter-spacing .5px

.globalContent__lang span 
    opacity .2