#QTE
    pointer-events: none
    color var(--grey)
    width 100vw
    height 100vh
    position absolute
    display flex
    justify-content center
    align-items center
    transition: background-color 450ms ease-out

#question
    opacity 0
    transform translateY(0)
    transition: opacity 450ms ease-out, transform 600ms ease-out
    will-change opacity, transform
    text-align: center;
    font: normal normal normal 24px/38px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    width 37%

.transparent
    opacity 0.3 !important

#pluralChoose__one,
#pluralChoose__two
    position absolute
    top: 50%
    transform translate3D(0, 0, 0)
    margin-left 7vw
    margin-right 7vw

    text-align center

    opacity 0
    transition: all 450ms ease-out


#pluralChoose__one 
    left: 0
#pluralChoose__two 
    right: 0


#pluralChoose__bar 
    position absolute
    left 50%
    bottom 0
    transform translate3D(-50%, 0, 0)
    margin-bottom 50px

    min-width 400px
    text-align center

    opacity 0

#pluralChoose__bar .line 
    height 5px
    width 0
    background #8F95C4

#pluralChoose__bar .line:after
    content ''
    position absolute
    z-index -1
    top 0
    left 0
    width 100%
    height 5px

    background-color: #6E6D8B
    opacity .5 

#monoChoose 
    position absolute
    top 50%
    right 10%
    transform translate3D(0, 0, 0)

    opacity 0
    transition: all 450ms ease-out

#monoChoose .line 
    display block
    height 5px
    width 0
    background var(--white)

#monoChoose div 
    text-align center

#monoChoose .chooseLetter
    padding 6px 24px

#pluralChoose__bar.show
    opacity 1

#pluralChoose__one.show,
#pluralChoose__two.show,
#monoChoose.show
    opacity 1
    transform translate3D(0, -50%, 0)

.chooseLetter 
    display inline-block
    padding 8px
    min-width: 23px;
    border 1px solid var(--grey)
    border-radius 10px

    transition: all 00ms ease-out


#monoChoose.clicked,
#pluralChoose__one.clicked,
#pluralChoose__two.clicked
    opacity: 1!important
    transform: translate3D(0, -50%, 0)

#monoChoose.clicked .chooseLetter,
#pluralChoose__one.clicked .chooseLetter ,
#pluralChoose__two.clicked .chooseLetter 
    background var(--grey)
    color var(--blue)