@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'
@import '../fonts/stylesheet.css'

@import './common.styl'
@import './loading.styl'
@import './qte.styl'
@import './endScene.styl'

:root 
  --white #fff
  --grey #C5CBF4 // #7D82A7
  --blue #27315E
  --black #040924
  --serpiente 'Serpiente Display Display'

html {
  color var(--white)
  font-family: 'Open Sans', sans-serif
}